#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

.table {
  border: 1vh solid seagreen;
  border-radius: 1vh;
  margin: 1vh;
}

.cell-button {
  padding: 1.2vh;
  width: 4vw;
}

.ship-selection {
  display: flex;
  justify-content: center;
}
